body{
    text-align: center;
}
/* Navbar and Links */
.challenge-navbar{
    color: white;
    padding: 2px;
    background-color: rgb(26, 21, 21);
}
.dark-mode-control{
    float: right;
}
.navbar-icon{
    background-color: white;
    width: 50px;
    border-radius: 30px;
}
.nav-search{
    display: table;
    /* width: 100%; */
    max-width: 100%;
    padding: 0;
    font-size: inherit;
    font-weight: 400;
    color: var(--color-text-white);
    vertical-align: middle;
    background-color: transparent;
    border: 0.5px solid grey;
    border-radius: 2px;
    box-shadow: none;
}
.profile-container{
    float: left;
    padding-top: 5px;
}
.pro-name{
    font-family: monospace;
}
.pro-name-muted{
    color: grey;
}
.profile-img{
    border-radius: 70%;
    height: 150px;
}
.profile-with-moji{
    display: block;
}
.profile-moji-container{
    border-radius: 40px;
    background-color: white;
    position: absolute;
    bottom: 55%;
    left: 15%;
    z-index: 2;
    width: 38px;
    height: 38px;
    margin-bottom: 32px;
    margin-left: -40px;
}
.profile-moji{
    border-style: none;
    align: absmiddle;
    width: 18px;
    height: 18px;
}
/* Repo */
.find-repo-form-control{
    width: 100%;
    border: 1px solid gray;

    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-primary);
    vertical-align: middle;
    background-color: var(--color-input-bg);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 6px;
    outline: none;
    box-shadow: var(--color-shadow-inset);
}
.hor-line{
    
}
.dis-flex{
    display: flex;
    flex-direction: row;
}
.select-fields{
    float: right;
}
.width-full{

}
/* Repository Sections */
.repo-container{
    width: 70%;
    left: 20%;
    position: relative;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    /* border-bottom: 1px solid green; */
}
.single-repo-container{
    width: 100;
}
.single-repo{
    border-radius: 40px;
    background-color: skyblue;
}
.single-repo-title{
    font-family: monospace;
    font-size: 30px;
}
.single-repo-info-badge{
    color: yellow;
    /* background-color: white; */
}
.star-placeholder{
    float: right;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}

.flex-repo-nav-content{
    display: flex;
    align-items: flex-start
}
/* Main Page Nav */
.main-repo-nav{

}
hr{
    color: gray;
}
.repo-nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.active{
    padding: 4px;
    border-bottom: 2px solid orange;
}
.non-active{
    padding: 4px;
}
.non-active:hover{
    border-bottom: 2px solid grey;
}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.header{
    color: blue;
}